@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 234 44.7761% 26.2745%;
      --card: 0 0% 100%;
      --card-foreground: 234 44.7761% 26.2745%;
      --popover: 0 0% 100%;
      --popover-foreground: 234 44.7761% 26.2745%;
      --primary: 234 44.7761% 26.2745%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 0% 88.2353%;
      --secondary-foreground: 234 44.7761% 26.2745%;
      --muted: 0 0% 96.4706%;
      --muted-foreground: 240 12.1951% 48.2353%;
      --accent: 205.7143 33.3333% 95.8824%;
      --accent-foreground: 234 44.7761% 26.2745%;
      --destructive: 350.1754 100% 66.4706%;
      --destructive-foreground: 0 0% 100%;
      --border: 240 34.7826% 90.9804%;
      --input: 240 34.7826% 90.9804%;
      --ring: 234 44.7761% 26.2745%;
      --chart-1: 251.9008 55.7604% 57.451%;
      --chart-2: 249.6429 94.9153% 76.8627%;
      --chart-3: 239.1781 82.0225% 65.098%;
      --chart-4: 243.1579 93.007% 71.9608%;
      --chart-5: 243.6522 47.3251% 47.6471%;
      --sidebar: 240 50% 96.0784%;
      --sidebar-foreground: 240 27.5862% 22.7451%;
      --sidebar-primary: 251.9008 55.7604% 57.451%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 218.4615 100% 92.3529%;
      --sidebar-accent-foreground: 240 27.5862% 22.7451%;
      --sidebar-border: 240 34.7826% 90.9804%;
      --sidebar-ring: 251.9008 55.7604% 57.451%;
      --font-sans: Inter, sans-serif;
      --font-serif: Outfit, sans-serif;
      --font-mono: Poppins, sans-serif;
      --radius: 1.375rem;
      --shadow-2xs: 0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.05);
      --shadow-xs: 0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.05);
      --shadow-sm:
         0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.1),
         0px 1px 2px -1px hsl(234 44.7761% 26.2745% / 0.1);
      --shadow:
         0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.1),
         0px 1px 2px -1px hsl(234 44.7761% 26.2745% / 0.1);
      --shadow-md:
         0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.1),
         0px 2px 4px -1px hsl(234 44.7761% 26.2745% / 0.1);
      --shadow-lg:
         0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.1),
         0px 4px 6px -1px hsl(234 44.7761% 26.2745% / 0.1);
      --shadow-xl:
         0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.1),
         0px 8px 10px -1px hsl(234 44.7761% 26.2745% / 0.1);
      --shadow-2xl: 0px 0px 4px 0px hsl(234 44.7761% 26.2745% / 0.25);
      --tracking-normal: 0.009em;
   }

   .dark {
      --background: 240 26.8293% 8.0392%;
      --foreground: 240 48.7179% 92.3529%;
      --card: 240 27.7778% 14.1176%;
      --card-foreground: 240 48.7179% 92.3529%;
      --popover: 240 27.7778% 14.1176%;
      --popover-foreground: 240 48.7179% 92.3529%;
      --primary: 251.25 100% 78.0392%;
      --primary-foreground: 240 26.8293% 8.0392%;
      --secondary: 242.8571 32.8125% 25.098%;
      --secondary-foreground: 241.9672 100% 88.0392%;
      --muted: 240 33.3333% 20%;
      --muted-foreground: 240 20.2532% 69.0196%;
      --accent: 240 33.3333% 28.2353%;
      --accent-foreground: 240 48.7179% 92.3529%;
      --destructive: 350.1754 100% 66.4706%;
      --destructive-foreground: 0 0% 100%;
      --border: 240 26.1538% 25.4902%;
      --input: 240 26.1538% 25.4902%;
      --ring: 251.25 100% 78.0392%;
      --chart-1: 251.25 100% 78.0392%;
      --chart-2: 230.4878 44.086% 63.5294%;
      --chart-3: 206.7123 89.0244% 67.8431%;
      --chart-4: 174.2857 41.8327% 50.7843%;
      --chart-5: 325.5224 100% 73.7255%;
      --sidebar: 240 27.7778% 14.1176%;
      --sidebar-foreground: 240 48.7179% 92.3529%;
      --sidebar-primary: 251.25 100% 78.0392%;
      --sidebar-primary-foreground: 240 26.8293% 8.0392%;
      --sidebar-accent: 240 33.3333% 28.2353%;
      --sidebar-accent-foreground: 240 48.7179% 92.3529%;
      --sidebar-border: 240 26.1538% 25.4902%;
      --sidebar-ring: 251.25 100% 78.0392%;
      --font-sans: Inter, sans-serif;
      --font-serif: Outfit, sans-serif;
      --font-mono: Poppins, sans-serif;
      --radius: 1.375rem;
      --shadow-2xs: 0px 0px 4px 0px hsl(240 30% 25% / 0.05);
      --shadow-xs: 0px 0px 4px 0px hsl(240 30% 25% / 0.05);
      --shadow-sm:
         0px 0px 4px 0px hsl(240 30% 25% / 0.1),
         0px 1px 2px -1px hsl(240 30% 25% / 0.1);
      --shadow:
         0px 0px 4px 0px hsl(240 30% 25% / 0.1),
         0px 1px 2px -1px hsl(240 30% 25% / 0.1);
      --shadow-md:
         0px 0px 4px 0px hsl(240 30% 25% / 0.1),
         0px 2px 4px -1px hsl(240 30% 25% / 0.1);
      --shadow-lg:
         0px 0px 4px 0px hsl(240 30% 25% / 0.1),
         0px 4px 6px -1px hsl(240 30% 25% / 0.1);
      --shadow-xl:
         0px 0px 4px 0px hsl(240 30% 25% / 0.1),
         0px 8px 10px -1px hsl(240 30% 25% / 0.1);
      --shadow-2xl: 0px 0px 4px 0px hsl(240 30% 25% / 0.25);
   }

   body {
      letter-spacing: var(--tracking-normal);
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}
